name: Build Pterodactyl .NET Installers

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"
  push:
    branches:
      - main
    paths:
      - pterodactyl/dotnet/**

permissions:
  packages: write
  contents: read

jobs:
  build:
    name: "pterodactyl-installer:dotnet_${{ matrix.tag }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - '9'
          - '10'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug
      
      - name: Repository to lowercase
        id: lower-repo
        run: |
          echo "repository=${GITHUB_REPOSITORY_OWNER@L}" >> $GITHUB_OUTPUT
      
      - name: Log into GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ steps.lower-repo.outputs.repository }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ steps.lower-repo.outputs.repository }}/pterodactyl/dotnet_${{ matrix.tag }}/installer
          tags: |
            type=raw,value=latest
            type=raw,value={{sha}}
            type=ref,event=branch
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./pterodactyl/dotnet/${{ matrix.tag }}/installer
          file: ./pterodactyl/dotnet/${{ matrix.tag }}/installer/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=dotnet-${{ matrix.tag }}
          cache-to: type=gha,mode=max,scope=dotnet-${{ matrix.tag }}
